h1{
  font-size: 45px;
  border-bottom: 1px solid grey;
  text-align: center;
  margin: 0;
  padding: 20px;
}
a{
  color: black;
  text-decoration: none;
}
#menu ol{
  border-right: 1px solid grey;
  margin: 0;
  padding-left: 33px;
}
#menu{
  display: grid;
  grid-template-columns: 150px 1fr
}
#lol{
  padding-left: 33px;
}
body{
  margin: 0px;
}
@media(max-width: 800px){
  h1{
    border-bottom: none;
  }
  #menu ol{
    border-right: none;
  }
  #menu{
    display: block;
  }
}
